body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#main{ 
    margin: 0 auto;
}
.t1{
    text-align: center;
}
#chart{
    width: 600px;
    height: 280px;
    margin: 0 auto;
    margin-top: 20px;
}